/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028; /*цвет страницы*/
  --bg-image: url(../images/cover-image-dark.png); /*фон страницы*/
  --rectangle-color: #FF0070; /*цвет декоративных уголков*/
  --element-text-color: #FF0070; /*декоративный элемент*/
  --button-text-color: #FF0070; /*цвет текста кнопок*/
  --header-button-bg-color: transparent; /*фон кнопок*/
  --title-color: #DB00FF; /*цвет h1 загаловка и загаловка footer*/
  --bg-text: #FF0070; /*фон у загаловков*/
  --header-text-color: #000028; /*цвет текста у параграфа в header*/
  --accent-color: #FF0070; /*цвет загаловка второго уровня*/
  --advice-color: #000028; /*цвет загаловка четвертого уровня*/
  --color-text: #F1B2CE; /*цвет текста параграфов*/
  --shadow-color: #FF0070; /*цвет тени*/

  --button-border-def: #FF0070; /*цвет обводки кнопки*/
  --button-border-hover: #FF007066; /*цвет обводки кнопки при наведении*/
  --button-border-active: #FF0070; /*цвет обводки в активном состоянии*/
  --button-border-visible: #FF0070; /* обводка через клавиатуру*/
}
